.colorA{
    color:#FFFFFF
}

.colorB{
    color:#E7A7FF
}

.colorC{
    color:#05D5F5
}

body{
    color: white;
    background: radial-gradient(#653c84 0%, #281b41 100%) no-repeat;
    min-height: 100vh;
    height: 100%;
    font-family: 'Exo 2', sans-serif;
    background-image: url(bitel-bg.jpg);
    background-size: cover;
}

.shadowGalaxy{
    background-image: url(shadowGalaxy.png);
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
}

.navbar{
    padding: 16px 0;
}

.navbar-nav{
    margin: 0 auto;
}

.navbar-nav a{
    margin: 0 7px;
    background: linear-gradient(#ffbc60 0%, #ff8c22 100%);
    border:#ff8c22;
    color: #fff!important;
    font-weight: 600 !important;
    line-height: 1;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px!important;
    height: 43px;
}

.navbar-nav a:hover{
    background: linear-gradient(#ff8c22 0%, #ffbc60 100%);
}

.navbar-nav a img{
    padding-right: 10px;
}

.sectionA{
    background-image: url(polvoGalactico.svg);
    position: relative;
    height: 800px;
    width: 100%;
    margin-bottom: 70px;
}

.planeta01 img{
    position: relative;
    z-index: 2;
}

.planets{
    position: absolute;
    z-index: 1;
    top: 98px;
    width: 100%;
    height: 600px;
}

.planets .planet02{
    position: absolute;
    left: 60px;
}

.planets .cohete1{
    position: absolute;
    left: 500px;
}

.planets .star1{
    position: absolute;
    left: 350px;
    top: 80px;
}

.planets .dimon1{
    position: absolute;
    left: 390px;
    bottom: 140px;
    z-index: 2;
}

.planets .planet03{
    position: absolute;
    bottom: 139px;
    left: 256px;
    z-index: 2;
}

.planets .planet04{
    position: absolute;
    bottom: 160px;
    left: 347px;
}


.planets .planet05{
    position: absolute;
    right: 70px;
    top: 62px;
}

.planets .bell01{
    position: absolute;
    right: 50px;
    top: 20px; 
    z-index: 2;
}

.planets .corona01{
    position: absolute;
    right: 280px;
    top: 200px; 
    z-index: 2;
}

.planets .ticket01{
    position: absolute;
    right: 400px;
    bottom: 80px; 
}

.sectionNave{
    max-width: 529px;
    margin: 192px auto 0;
    align-items: center;
    z-index: 5;
    position: relative;
}

.sectionNave .mascota{
    max-width: 166px;
    margin-bottom: -70px;
}


.planeta01{
    margin: 0 auto;
    width: 284px;
    margin-top: -230px;
}

.juegaAqui{
    width: 200px;
    margin: 20px auto 0;
    z-index: 5;
    position: relative;
}

.juegaAquiBtn{
    background: #60CEFF;
    border: #3ac0f9;
    color: white;
    font-size: 28px;
    font-weight: 600;
}

.juegaAquiBtn:hover{
    background: #2fa8dc;
    border: #3ac0f9;
    color: white;
    font-size: 28px;
}

.juegaAqui p{
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 4px;
}

.juegaAqui .siguenos{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.juegaAqui .socialNet{
    width: 50.66px;
    height: 50.66px;
    border-radius: 50%;
    background: linear-gradient( rgba(28, 21, 42, 0) 0%,  #1c152a 100%);
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialNetInt{
    width: 34.57px;
    height: 34.57px;
    border-radius: 50%;
    background: linear-gradient(#ad4bea 0%, #643b95 100%);
    border: 1px solid #8d43cc;
}

.socialNetInt img{
    margin: 0 -1px;
    width: 40px;
}

.burbuja{
    background: url(../img/globo-home.png);
    background-repeat: no-repeat;
    background-size: 380px;
    height: 160px;
    width: 380px;
    right: 16%;
    top: 80px;
    z-index: 3;
    position: relative;
    float: right;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.1;
    text-align: center;
    padding-top: 16px;
    padding-right: 81px;
}

/* Section B */

.sectionB{
    padding-top: 58px;
}

.sectionB h2{
        font-weight: 800;
        font-size: 44px;
        color:#E7A7FF;
        font-style: italic;
}

.bitelGame{
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.planetking{
    width: 200px;
    display: inline;
    z-index: 1;
    position: absolute;
    right: 49%;
    margin-top: 92px;
}

.cardGanafondo{
    position: relative;
    width: 420px;
    height: 279.38px;
    background: linear-gradient(#fff 0%, #00c5e3 100%);
    filter: drop-shadow(0px 33px 36px rgba(0, 0, 0, 0.16)); 
    z-index: 1;
    top: 0; 
    border-radius: 20px;  
}

.cardGana{
    position: relative;
    width: 420px;
    height: 279.38px;
    background: linear-gradient(#653c84 0%, #281b41 100%);
    filter: drop-shadow(0px 33px 36px rgba(0, 0, 0, 0.16));
    z-index: 2; 
    top: -290px;
    left: 8px;
    border-radius: 20px; 
}

.listaGana{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.listaGana img{
    width: 38px;
    height: 38px;
}

.listaGana .listaTicket{
    width: 40px;
    height: 42px; 
}

.listaGana span{
    line-height: 1.2;
    text-align: left;
    margin-left: 10px;
    border-bottom: 1px solid ;
    padding-bottom: 5px;
    width: 280px;
    margin-bottom: 10px;
}

.cardPremios{
    width: 769.4px;
    height: 262.55px;
    border-radius: 23px;
    background: linear-gradient(#008ea3 0%, #00c5e3 100%);
}

.cardPremios .btn{
    width: 282.27px;
    height: 69.92px;
    background: linear-gradient(#dd69f8 0%, #630a84 100%);
    border-radius: 30px;
    font-style: italic;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    border: none;
}

.btnRegMonedas {
    position: relative;
}

.btnRegMonedas::after {
    content: '';
    background-image: url(../img/star1.png);
    background-size: 48px;
    background-repeat: no-repeat;
    left: -20px;
    height: 100px;
    width: 100px;
    position: absolute;
    top: -13px;
    rotate: 24deg;
}

.btnRegMonedas:hover{
    background: linear-gradient( #630a84 0%, #dd69f8 100%);
}

.cardPremios2{
    width: 769.4px;
    height: 229.97px;
    border-radius: 23px;
    background: linear-gradient(#0dbea3 0%, #0afcd7 100%);
}

/* Section C */

.sectionC h2{
    font-weight: 700;
    font-size: 51px;
    color:#E7A7FF;
    padding-bottom: 10px;
}

/* Section D */

.sectionD{
    background: radial-gradient(#0dbea3 0%, #004167 100%);
    background-image: url(bg2-azul.jpg);
    background-size: cover;
}

.starDa{
    position: absolute;
    right: 6%;
    margin-top: 80px;
}

.titleD{
    padding: 70px 40px 20px;    
}

.sectionD h2{
    font-weight: 800;
    font-size: 37px;
    line-height: 1.1;
    font-style: italic;
}


.sectCards{
    max-width: 600px;
    margin: 0 auto;
    padding-left: 10px;
}

.cardA,
.cardB{
    position: relative;
    display: flex;
    flex-direction: row;
}

.cardA img{
    position: relative;
    height: 390px;
    margin-left: -160px;
    margin-top: -95px;
}

.cardA .card-body{
    margin-left: -60px;
}

.cardA h4{
    font-size: 29px;
    line-height: 29px;
    text-align: left;
    color: #fff;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-weight: 600;
    margin-top: 14px;
}

.cardA .btn{
    margin: 20px;
}

.cardA p{
    width: 561px;
    height: 109px;
    font-family: "Exo 2";
    font-weight: 500;
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.cardB .premiosAcomula{
    position: relative;
    height: 440px;
    margin-right: -160px;
    margin-top: -95px;
}

.cardB h4{
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    text-align: left;
    color: #fff;
    text-shadow: 0px 13px 16px rgba(0, 0, 0, 0.16);
    padding: 20px 0 0 40px;
}



.cardB p{
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
    text-align: left;
    color: #fff;
    
}    

.cardB span{
    font-weight: 600;
    font-size: 29px;
    line-height: 29px;
    text-align: left;
    color: #fff;
}    

.bloqueCard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body{
    flex: 1 1 auto;
    padding: 1rem 1rem;
    padding-left: 31px;
}

.winTicket{
    margin-left: -30px;
    margin-right: 10px;
}

.PremiosText{
    margin: 131px 60px 0;
}

.obtenPremios{
    background: url(../img/bgCombo.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 0 90px;
}



.sectionC .container{
    padding: 42px 0 0;
}

.sectionE{
    padding-top: 70px;
    padding-bottom: 60px;
}

.sectionE h2{
    font-weight: 800;
    font-size: 41px;
    line-height: 1.1;
    font-style: italic;
}

.sectionE .planetaPremios{

    margin: 0 auto;
    display: block;
}

.PremiumSec dev{
    padding-left: 104px;
}

.sectionE .BtnPremium{
    width: 340px;
    height: 48.34px;
    background: linear-gradient(#008ea3 0%, #00c5e3 100%);
    filter: drop-shadow(0px 23px 26px rgba(0, 0, 0, 0.16));
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 23px;
    line-height: 28px;
    text-align: left;
    position: relative;
    padding-left: 36px;
    margin: 20px 0 10px;
}


.sectionE .img__planetas{
    height: 400px;
    background-image: url(../img/planet03.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
    padding-top: 80px;

}

.BtnPremium::before{
    content: '';
    background-image: url(../img/corona1.png);
    background-size: 95px;
    background-repeat: no-repeat;
    right: -20px;
    height: 100px;
    width: 100px;
    position: absolute;
    top: -22px;
    rotate: 40deg;
    text-transform: uppercase;
}

.BtnPremium:hover{
    background: linear-gradient( #00c5e3 100%, #008ea3 0%);
}


.premiumLeft{
    padding-left: 20%;
    background-image: url(../img/star1.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center left;
    padding-top: 100px;
}

.sectionF{
    padding: 60px 0 40px;
    background: radial-gradient(#0dbea3 0%, #004167 100%);
    background-image: url(bg2-azul.jpg);
    background-size: cover;
}

.sectionF h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 1.1;
    padding-bottom: 60px;
}

.dimonF{
    width: 110px;
    display: block;
    margin: 0 auto;
}

.starPa{
    position: absolute;
    right: 25%;
    rotate: 57deg;
}

.starPb{
    rotate: 57deg;
    left: 19%;
    position: absolute;
}

.coronaP{
    position: absolute;
    right: 10%;
}

.sectionG {
    margin: 0 auto;
    position: relative;
    background-image: url(polvoGalactico.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 850px;
}

.sectionG .container-fluid{
    margin: 0 auto;
    position: relative;
    background-image: url(shadowPlanets2.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 850px; 
}

.shadowPlanetsB{
    justify-content: center;
    display: flex;
}

.sectionNaveB{
    max-width: 529px;
    align-items: center;
    z-index: 5;
    position: relative;
}

.sectionNaveB .mascota2{
    margin-top: -294px;
    z-index: 2;
    margin-left: 68px;
}

.bitelAventuras2{
    position: relative;
    z-index: 3;
    margin-top: 10px;
    margin-left: 63px;
    max-width: 540px;
}

.palentfA{
    width: 320px;
    position: absolute;
    top: 260px;
    left: 18%;
}

.palentfB{
    position: absolute;
    margin-left: 59px;
    margin-top: 269px;
    width: 379px;
}

.palentfC{
    position: absolute;
    top: 150px;
    right: 17%;
}

.dimonfA{
    position: absolute;
    top: 330px;
    left: 18%;
    width: 90px;
    rotate: 24deg;
}

.starFA{
    position: absolute;
    width: 30px;
    rotate: 24deg;
    margin-top: 130px;
    margin-left: 0px;
}

.starFB{
    position: absolute;
    bottom: 50px;
    right: 40px;
}

.sectionNaveB .cohete-footer{
    z-index: 2;
    margin-left: 80%;
    margin-top: 120px;
}

/* carousels */

#owl-demo .item{
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}

  

.premiosItemA,
.premiosItemB{
    margin: 0 auto;
    padding: 20px;
}

.premiosItemA h3,
.premiosItemB h3{
    font-style: italic;
    font-size: 34px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-weight: 700;
}

.premiosItemA p,
.premiosItemB p{
    padding-top: 5px;
    font-size: 22px;
}

.premiosItemA{
    position: relative;
    width: 433.81px;
    height: 431.14px;
    background: linear-gradient(#0dbea3 0%, #0afcd7 100%);
    border-radius: 30px;
}

.premiosItemA::before{
    content: '';
    position: absolute;
    width: 433.81px;
    height: 431.14px;
    background: #281b41;
    border-radius: 30px;
    z-index: -1;
    left: 11px;
    bottom: -10px;
}

.premiosItemB::before{
    content: '';
    /* position: absolute;
    width: 433.81px;
    height: 431.14px;
    background: linear-gradient(#0dbea3 0%, #0afcd7 100%);
    border-radius: 30px;
    z-index: -1; */

}

.premiosItemA img,
.premiosItemB img{
    max-width: 400px;
    margin: 0 auto;
}

.premiosItemB{
    width: 433.81px;
    height: 431.14px;
    background: linear-gradient(#69228e 0%, #2b1352 100%);
    border-radius: 30px;   
}

.carsouselPremios{
    width: 372.62px;
    height: 277.9px;
    border-radius:  16px 16px  64px 16px;
    background: linear-gradient(#bb02bb 0%, #000 100%);    
    margin: 40px auto;
}

.premioTabla{
    width: 296px;
    margin: 0 auto;
}

.ptHeader{
    width: 296px;
    height: 41px;
    margin: 10px 0;
    font-style: italic;
}

.pTA{
    height: 100%;
    background: #C994D4;
    width: 120px;
    color: #B441D3;
    border-radius: 5px 0 0 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pTB{
    width: 198px;
    background: #B84CD3;
    border-radius: 0 5px 40px 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.ptBody{
    width: 296px;
    justify-content: space-between;
}

.tBA{
    width: 112px;
    background: #C69AC6;
    border-radius: 10px;
}

.tBB{
    background: #bb52da;
    border-radius: 10px;
    width: 174px;
}

.tBA p,
.tBB p{
    margin: 10px;
}

.pTextTB{
    line-height: .75;
}

.owl-prev{
    width: 24px;
    height: 24px;
    background: #fff!important;
    border-radius: 50%;
    margin-left: 10px;    
}

.owl-next{
    width: 24px;
    height: 24px;
    background: #fff!important;
    border-radius: 50%;
    margin-right: 10px; 
}

.owl-prev:hover,
.owl-next:hover{
    background: rgba(255, 255, 255, 0.7)!important;
}

.owl-nav{
    display: flex;
    justify-content: space-between;
    color: rebeccapurple;
    top: -124px;
    position: relative;
}

.owl-next span,
.owl-prev span{
    position: relative;
    font-size: 40px;
    top: -23px;
}

.owl-item > div {
    cursor: pointer;
    margin: 6% 8%;
    transition: margin 0.4s ease;
  }
  .owl-item.center > div {
    cursor: auto;
    margin: 0;
  }

.paqueteDiamantes{
    width: 369px;
    height: 383.29px;
    border-radius: 16px 16px 64px 16px;
    background: linear-gradient(#008ea3 0%, #00c5e3 100%);   
    margin: 0 auto;
}

.paqueteMonedas{
    width: 369px;
    height: 450.32px;
    border-radius: 16px 16px 32px 16px;
    background: linear-gradient(#0dbea3 0%, #0afcd7 100%);
    margin: 0 auto;
}

.paqueteVidas{
    width: 369px;
    height: 383.29px;
    border-radius: 16px 16px 32px 16px;
    background: linear-gradient(#bb02bb 0%, #000 100%);
    margin: 0 auto;
}

.paqueteDiamantes,
.paqueteMonedas,
.paqueteVidas{
    padding-top: 60px;
    margin-top: -28px;
}


.paqueteDiamantes p,
.paqueteMonedas p,
.paqueteVidas p{
    line-height: 1.2;
}


.paqueteTitleC{
    width: 289px;
    height: 60px;
    border-radius: 16px 16px 32px 16px;
    background: linear-gradient(#008ea3 0%, #00c5e3 100%);   
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
}

.paqueteTitleB{
    width: 289px;
    height: 60px;
    border-radius: 16px 16px 32px 16px;
    background: linear-gradient(#0dbea3 0%, #0afcd7 100%);  
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
}

.paqueteTitleA{
    width: 289px;
    height: 60px;
    border-radius: 16px 16px 32px 16px;
    background: linear-gradient(#8901de 0%, #601191 100%);
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
}

.paqueteTitleA img,
.paqueteTitleB img,
.paqueteTitleC img{
    width: 39px!important;
    height: 37px;
    margin: 0 20px;
}

.paqueteTitleA span,
.paqueteTitleB span,
.paqueteTitleC span{
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
}


.secPaqCom{
    margin: 20px 0;
}

.paqueteValoresA{
    height: 40px;
    background: #00C9E6;
    width: 80%;
    margin: 0 auto;
    border-radius: 11.08px 11.08px 36.92px 11.08px;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
}


.paqueteValoresA .valorA{
    background-color: #C9EDF4;
    height: 100%;
    width: 45%;
    padding: 5px 20px;
    border-radius: 11.08px 0 0 11.08px;
    color: #00C9E6;
}

.paqueteValoresA .valorB{
    height: 100%;
    width: 50%;
    padding: 5px 20px 5px 34px;
}

.paqueteValoresA .circleValor{
    height: 60px;
    width: 60px;
    background: #fff;
    margin: -50px auto 0;
    z-index: 2;
    position: relative;
    border-radius: 50%;
    font-weight: 600;
    font-style: italic;
    font-size: 21px;
    text-align: left;
    color: #00C9E6;
    padding-top: 16px;
}


.paqueteValoresB{
    height: 40px;
    background: #0DBEA3;
    width: 80%;
    margin: 0 auto;
    border-radius: 11.08px 11.08px 36.92px 11.08px;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
}


.paqueteValoresB .valorA{
    background-color: #D2EDE9;
    height: 100%;
    width: 45%;
    padding: 5px 20px;
    border-radius: 11.08px 0 0 11.08px;
    color: #0DBEA3;
}

.paqueteValoresB .valorB{
    height: 100%;
    width: 50%;
    padding: 5px 20px 5px 34px;
}

.paqueteValoresB .circleValor{
    height: 60px;
    width: 60px;
    background: #fff;
    margin: -50px auto 0;
    z-index: 2;
    position: relative;
    border-radius: 50%;
    font-weight: 600;
    font-style: italic;
    font-size: 21px;
    text-align: left;
    color: #00C9E6;
    padding-top: 16px;
}

.paqueteValoresC{
    height: 40px;
    background: #BF5AFF;
    width: 80%;
    margin: 0 auto;
    border-radius: 11.08px 11.08px 36.92px 11.08px;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
}

.valorA{
    background-color: #D9CFF2;
    height: 100%;
    width: 45%;
    padding: 5px 20px;
    border-radius: 11.08px 0 0 11.08px;
    color: #BF5AFF;
}

.valorB{
    height: 100%;
    width: 50%;
    padding: 5px 20px 5px 34px;
    display: flex;
    align-items: center;
}

.circleValor{
    height: 60px;
    width: 60px;
    background: #fff;
    margin: -50px auto 0;
    z-index: 2;
    position: relative;
    border-radius: 50%;
    font-weight: 600;
    font-style: italic;
    font-size: 21px;
    text-align: left;
    color: #bf5bff;
    padding-top: 16px;
    margin-left: 127px;
}

.valorMoneda{
    width: 30px!important;
    height: 30px!important;
    margin-left: 10px;
}


.owl-carousel .owl-item img {
    display: block;
    width: 230px;
    margin: 0 auto;
}